<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <h3><a href="/">Main Page</a></h3>
    <br>
    <form action="/register" method="POST">
        First Name: <input type="text" name="firstName" title="firstName"/><br />
        Last Name: <input type="text" name="lastName" title="lastName"/><br />
        Email &nbsp; &nbsp; &nbsp; &nbsp;: <input type="email" name="email" title="email"/><br />
        <button type="submit">Save</button>
    </form>
  </body>
</html>
